{% extends 'user/layout.html' %}
{% block pagetitle %} dashboard {% endblock %}
{% block body %}
<div class="main-container">
<div class='title'><h1>Dashboard</h1></div>
<div class='dashboard'>
<div class='left'>
<div class='sidebar'>
<ul class='sidemenu'>
<li><a href="{{url_for('user_dashboard')}}">Home</a></li>
<li><a href="{{url_for('user_changepassword')}}">Change Password</a></li>
<li><a href="{{url_for('user_editprofile')}}">Edit Profile</a></li>
<li><a href="{{url_for('logout')}}">logout</a></li>
</ul>
</div>
</div>
<div class='right'>
<h1>Change Password</h1>
<form action="" method="POST" >
{{form.csrf_token()}}
<div class='form-control'> 
{{form.oldpassword.label}}
{{form.oldpassword()}}
{{render_error(form.oldpassword)}}
</div>
<div class='form-control'>
{{form.newpassword.label}}
{{form.newpassword()}}
{{render_error(form.newpassword)}}
</div>
<div class='form-control'>
{{form.confirmpassword.label}}
{{form.confirmpassword()}}
{{render_error(form.confirmpassword)}}
</div>
<div class='form-conrol'>
<div class="form-control submitbtn">
<input type='submit' value='confirm change'/>

</div>
</div>
</form>


</div>
</div>
</div>

{% endblock %}

